<%
content_for :stylesheets  do
	stylesheet_link_tag 'top_contentbox'
end
%>
<% provide(:current_page, "projects") %>
<div class="content" id="main_content" style="min-height: 300px;">
	<%= image_tag( "me_cartoon.png", alt: "Cartoon Picture of Me", height: "300px", style: "float: right; padding-left: 5px;") %>
	My name is Mike Lyons, and I am a Software Engineering student at Rochester Institute of Technology. I am a dedicated and brilliant programmer who enjoys applying his programing knowledge to solve a variety of problems. I am currently looking for Co-ops or Internships as a software engineer.
	<br/><br/>
	So far in my career I have worked with many different programming languages, and have learned to adapt quickly to new developing enviroments and strategies. My main interests are in artificial intelligence and it's application to making human day to day life easier. I am, however, generally willing to program anything that seems fun or chalenging.<br/>
	<br/>
	My current resume is available here: <a href="resume.pdf">Resume</a>
</div>
<div id="more_info">
	<div class="content_menu" id="menu1">
		<div class="content_menu_item content_menu_item_selected color2" id="technical">
			<div class="content_menu_item_text">
				Technical Skills
			</div>
		</div>
		<div class="content_menu_item color2" id="ss">
			<div class="content_menu_item_text">
				Serpent Software
			</div>
		</div>
		<div class="content_menu_item color2" id="exp">
			<div class="content_menu_item_text">
				Work Experience
			</div>
		</div>
		<div class="content_menu_item color2" id="2">
			<div class="content_menu_item_text">
				For Fun
			</div>
		</div>
	</div>
	<div class="content_box color2" id="menu1_box">
		<div class="content content_box_item content_box_item_selected" id="technical_box">
			<h3>Technical Skills</h3>
			I have technical knowledge in the following programming languages:
			<ul class="content_list">
				<li>Objective C with Cocoa touch</li>
				<li>Java</li>
				<li>C++</li>
				<li>Python</li>
				<li>PHP, MySQL</li>
				<li>HTML, Javascript (With jQuery)</li>
				<li>Visual Basic</li>
				<li>Bash scripting</li>
				<li>Oracle SQL Introduction to 9i Certified</li>
				<br/>
			</ul>
		</div>

		<div class="content content_box_item" id="ss_box">
			<center><%= image_tag("serpent.png", height: "100px") %></center>
			Serpent Software is the unofficial programming team that I publish most of my software under the name of. This team is sometimes just me, but the other members of the team include:<br/>
			<ul class="content_list">
				<li>Nic Manoogian - <a href="http://nmanoogian.com/">http://nmanoogian.com</a></li>
				<li>Renee Hodenfield</li>
				<li>Sanjit Dutta</li>
			</ul>				
		</div>

		<div class="content content_box_item" id="exp_box">
			<h3>Work Experience</h3>
			<b>RIT</b> - Lab Technician - 2012-13 School Year - Responsibilities included:
			<ul class="content_list">
			<li>Lab security and hardware maintenance</li>
			<li>Generic tutoring and assisting students with computer related problems</li>
			</ul>
			<br/>
			<b>Aertight Systems</b> - Intern - Summer of 2011 and 2012 - Responsibilities included:
			<ul class="content_list">
			<li>In store tech support: Repairing customers computers</li>
			<li>Starting and Managing the company's in-store recycling system</li>
			<li>Occasionally heading off-site to assist off-site technicians</li>
			</ul>
			<br/>
			<b>InstallNET</b> - Software Tester/Writer Intern - Summer of 2011 - Responsibilities included:
			<ul class="content_list">
			<li>Doing system testing on internal management software</li>
			<li>Creating scripts to make project managing task's easier (VB)</li>
			</ul>
			<br/>
		</div>

		<div class="content content_box_item" id="2_box">
			<h3>For Fun</h3>
			<%= image_tag( "First-Logo.png", height: "100px", style: "float: left; padding-right: 5px;" ) %>
			During high school a large part of my inspiration has come from the FIRST Robotics program. My team was the Powerhawks FRC team 1111. I was the head of the programming team my senior year, and a large part of creating the website for the team. FIRST robotics is an amazing program that allows for high school kids to develop an idea of what it is like to build and deploy a product in a real world setting under a real world deadline.
			<br/><br/>
			<%= image_tag( "sse.png", height: "50px", style: "float: right; padding-right: 5px;" ) %>
			So far during college a large part of my extra curricular activities have been involved with the RIT Society of Software engineers. I am a part of both the SSE Dodgeball team and the SSE Ultimate frisbee team.
		</div>
	</div>
</div>