<%
content_for :page_includes do
    stylesheet_link_tag('top_contentbox') + 
    javascript_include_tag('main_script')
end
provide(:current_page, "contact") %>
<div id="content_area">
    <div class="content" id="main_content">
        <center>
            Use this information to get in contact with me:<br/>
            Mike Lyons<br/>
            mdl0394@gmail.com<br/>
            mdl7240@rit.edu<br/>
        </center>
    </div>
</div>