<%
content_for :page_includes do
	stylesheet_link_tag('blog_main') + 
	javascript_include_tag('blog_scroll')
end
provide(:current_page, "blog") %>
<div class="stories_box">
	<div class="content">
	<h3>Categories</h3>
	<% @categories.each do |category| %>
		<%= link_to category.name, blog_category_url( category: category.id ) %><br/>
	<% end %>
	</div>
</div>
<% @blog_posts.each do |post| %>
	<div class="content_area">
		<div class="content" style="">	
			<%= post.body %>
		</div>
		<div class="story_footer">
			Author: <%= post.author %> - Date Created: <%= post.updated_at %>  - <a>Permalink</a>
		</div>
	</div>
<% end %>