/*
 *= require_self
 */

.top_content_menu
{
	width: inherit;
	height: 35px;
	background: #333333;
}
.top_content_menu_item, .top_content_menu_item_selected
{
	float: left;
	min-width: 120px;
	height: 30px;
	margin: 0px 0px 5px 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.top_content_menu_item:hover
{
	cursor: pointer;
}
.top_content_menu_item_text
{
	padding-top: 7px;
}
.top_content_menu_item_selected
{
	margin-bottom: 0px;
	padding: 0px 5px 5px 5px;
}

.top_content_box
{
	min-height: 300px;
}
.top_content_box_item
{
	display:none;
}
.top_content_box_item_selected
{
	display:block;
}
